**

!package.json
!pnpm-lock.yaml

!next.config.ts
!tsconfig.json
!eslint.config.mjs

!prisma/
!prisma/**

!public/
!public/**

!src/
!src/**

!app/
!app/**

!components/
!components/**

!lib/
!lib/**

!styles/
!styles/**

!postcss.config.*
!tailwind.config.*