.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownButton {
    background-color: #0D4F97;
    color: white;
    border: 1px solid #0D4F97;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
}

.dropdownButton:hover {
    background-color: #0a3c73; 
    border-color: #0a3c73;
}

.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: transform 0.2s;
}

.dropdownContent {
    display: block;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    border-radius: 6px;
    z-index: 10;
    right: 0;
    margin-top: 8px;
    border: 1px solid #f3f4f6;
    overflow: hidden;
}

.dropdownContent button {
    color: #374151;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 0.9em;
}

.dropdownContent button:hover {
    background-color: #f3f4f6;
}